{% extends 'base.html.twig' %}
{% block body %}
    <h1>Test Page</h1>
    <h2>{{ message }}</h2>
    <div>
        <div id="react-test"></div>
        <input type="text" />
        <button type="button">Click Me</button>
        <ul>

        </ul>
    </div>

    {% block page_contents %}{% endblock %}
{% endblock %}
